<div class="w-full h-screen flex flex-col">
    <div class="h-10 px-12 flex items-center justify-between">
        <h1 class="text-white p-5 py-3">
            @if (videoType() === "movie") {
            {{movie()?.original_title}}
            } @else if (videoType() === "tv") {
            {{series()?.original_name}}
            } @else {
            Enjoy The Show
            }
        </h1>
        <select class="bg-white rounded-xl" (change)="updateSource($event)">
            @for (name of sourceNames; track $index) {
            <option [value]="name" [selected]="currentSource() === name">
                {{ name }}
            </option>
            }
        </select>
    </div>
    @if (loading()) {
    <div class="w-full h-full rounded bg-white/30 backdrop-blur-lg border border-white/40 shadow-lg animate-pulse">
    </div>
    } @else if (safeUrl()) {
    @defer () {
    <div class="w-full h-full block">
        <iframe [src]="safeUrl()" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
    </div>
    }@loading(minimum 2s) {
    <div class="w-full h-full rounded bg-white/30 backdrop-blur-lg border border-white/40 shadow-lg animate-pulse">
    </div>

    }
    }
</div>