<footer class="flex items-center justify-center text-white px-12 py-5 border-t border-t-gray-500/25 bg-gray-500/20">
    <p class="text-xs text-center">
        Streamweb does not host or upload any videos or media files. All content links on our site point to third-party
        platforms over which we have no control. We are not responsible for the content, accuracy, legality, or
        copyright compliance of external sources.
        We respect intellectual property rights and encourage copyright holders to address any issues directly with the
        hosting providers. All movie and series data are sourced from OMDB and TMDb APIs.
    </p>
</footer>