<div class="relative w-full">
    <!-- Scroll Buttons -->
    <button *ngIf="showPrev" (click)="scrollPrev()"
        class="absolute left-0 top-1/2 -translate-y-1/2 z-10 bg-white p-2 rounded-full shadow-md hover:bg-gray-200">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>
    </button>

    <button *ngIf="showNext" (click)="scrollNext()"
        class="absolute right-0 top-1/2 -translate-y-1/2 z-10 bg-white p-2 rounded-full shadow-md hover:bg-gray-200">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
    </button>

    <!-- Scrollable Container -->
    <div #scrollContainer class="flex overflow-x-hidden space-x-4 p-5 -ml-5 rounded-xl scroll-smooth" (scroll)="onScroll()">
        <!-- <img *ngFor="let movie of movies" [src]="movie" class="cover w-40 h-60 rounded-lg shadow-lg object-cover"
            alt="Movie Cover" /> -->
        <div #videoContainer class="flex items-center space-x-5">
            <a *ngFor="let movie of movies" href="/video/id" class="relative transition-all ease-in-out rounded-xl overflow-hidden w-[230px] h-[350px]  group hover:scale-[1.01]">
                <img src="/assets/img/hero.png" alt="cover" class="w-[230px] h-[350px] cover object-cover" />
                <div class="absolute inset-0 w-full h-full flex flex-col items-center justify-end bg-none opacity-0 group-hover:opacity-100 group-hover:bg-[linear-gradient(180deg,transparent,rgba(0,0,0,0.5))] group-hover:bg-black/50 transition duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10  text-[var(--white)]">
                        <path fill-rule="evenodd"
                            d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
                            clip-rule="evenodd" />
                    </svg>
                    <div class="text-white flex flex-col item-center justify-center pb-5 mt-20">
                        <p class="font-bold text-center">John Wick: Chapter 3 Parabellum</p>
                        <div class="flex item-center space-x-2 justify-center">
                            <p class="capitalize">movie</p>
                            <span class="font-bold leading-none">.</span>
                            <p>2023</p>
                            <span class="font-bold leading-none">.</span>
                            <p class="uppercase">en</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>