@if (loading()) {
<div class="text-white text-3xl font-bold flex items-center justify-center h-full w-full">
  <p>Loading...</p>
</div>
}@else{

<section class="bg-cover bg-center bg-no-repeat bg-blend-multiply flex flex-col w-full h-screen" [ngStyle]="{
          'background-image': 'url(' + (topMovie?.backdrop_path || 'path/to/default-image.jpg') + '), linear-gradient(90deg, rgba(0,0,0,.9), rgba(0,0,0,0)), linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,.7)), linear-gradient(180deg, rgba(0,0,0,0), var(--secondary) 90%)',
          'background-size': 'cover',
          'background-position': 'center',
          'background-repeat': 'no-repeat',
          'background-blend-mode': 'multiply'
        }">
  <nav class="flex justify-between items-center px-12 py-5">
    <div class="flex items-center gap-3">
      <p class="flex justify-between items-center px-5 text-[var(--white)] text-lg font-bold">
        Stream<span class="text-[var(--primary)]">Web</span>
      </p>
      <ul class="list-none flex items-center self-start gap-3">
        @for (item of [{title:"movies",slug:"movies"}, {title:"tv shows",slug:"tv-shows"}]; track $index) {
        <li>
          <a [queryParams]="{ type: item.slug}" routerLink="/video"
            class="capitalize text-white px-4 py-2 rounded border-none hover:bg-[var(--white)]/5 focus:bg-[var(--white)]/25 focus:text-white">
            {{ item.title }}
          </a>
        </li>
        }
      </ul>
    </div>
    <div class="flex items-center justift-start">
      <input type="search" placeholder="Search Here"
        class="backdrop-blur-sm text-[var(--white)] outline-none border-2 border-[var(--white)]/50 bg-[var(--secondary)]/40 px-4 py-2 rounded-lg focus:border-[var(--white)]" />
    </div>
  </nav>
  <div class="w-full h-screen p-12 flex flex-col justify-end">
    <div class="max-w-lg text-white flex flex-col space-y-12">
      <div class="flex flex-col space-y-4">
        <p class="font-bold text-3xl">{{topMovie?.title}}</p>
        @if (topMovie?.id) {
          <app-rating [movieId]="topMovie?.id" />
        }
      </div>
      <div class="flex flex-col space-y-6">
        <p>
          {{topMovie?.overview}}
        </p>

        <div class="flex space-x-4">
          <a class="btn btn-primary flex items-center space-x-1" [routerLink]="'/watch/' + topMovie?.id"
            [queryParams]="{'type':'movie'}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
              <path fill-rule="evenodd"
                d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
                clip-rule="evenodd" />
            </svg>
            <span>Watch Now </span>
          </a>
          <a [routerLink]="'/trailer/' + topMovie?.id" class="btn btn-ghost-outline">Watch Trailer</a>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="h-screen py-12">
  <div class="flex flex-col space-y-5">
    <div class="flex flex-col space-y-5">
      <h1 class="text-[var(--white)] font-bold text-xl px-20">Popular Movies</h1>
      <app-movie-carousel [movies]="trendingMovies" />
    </div>
    <div class="flex flex-col space-y-5">
      <h1 class="text-[var(--white)] font-bold text-xl px-20">Popular Tv Shows</h1>
      <app-movie-carousel [series]="trendingSeries" />
    </div>
    <div class="flex flex-col space-y-5">
      <h1 class="text-[var(--white)] font-bold text-xl px-20">Top Rated Movies</h1>
      <app-movie-carousel [movies]="topRatedMovies" />
    </div>
    <div class="flex flex-col space-y-5">
      <h1 class="text-[var(--white)] font-bold text-xl px-20">Top Rated Tv Shows</h1>
      <app-movie-carousel [series]="topRatedSeries" />
    </div>
  </div>
</section>
}